#journey {
    position: relative;
    background-image: url("../assets/kailash-inner-kora-trek.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 90vw;
    Height: calc(90vw * 642/980);
    margin: auto;
}

.journey {
    position: absolute;
    color: white;
    text-shadow: 1px 1px 1px black;
    font: Garamond;
    font-size: 24px;
    
}
.journey.completed {
    color: beige;
    font-size: 12px;

}
.journey.completed:after {
    content: "?"
    /* what the hell is this check thingy? */
}
